
<div class="texts-wrapper">
  <div class="contents-title text-center">
     <h3>ショップ一覧</h3>
    <div class="row">
      <% @admins.each do |admin| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <%= link_to items_path(admin) do %>
          <%= attachment_image_tag admin, :image, :fill, 270, 190, class: 'images', fallback: "no_image.jpg" %>
          <div class="card-body">
            <%=admin.name %>
          </div>
          <% end %>
          <p class="card-title"><%= admin.phone_number %></p>
          <p class="card-title"><%= admin.address %></p>
          <p class="card-title"><%= admin.description %></p>
          <%= link_to "レビュー",produst_comments_path %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</script>