<% if @model == "item" %>
<div class="text-center item-show">
    <h2>商品"<%= @content %>"(全<%= @records.count %>件)</h2>
</div>
<div class="container">

  <div class="row justify-content-center mt-4">
    <div class="col-10 row justify-content-between">

      <div class="fs-2 col-2"></div>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-10">
    <% @records.each do |item| %>
        <ul>
        <hr class="cp_hr01" />
        <li class="item_icon">
          <%= link_to item_path(item) do %>
          <%= attachment_image_tag item, :image,class:'item_visual' %>
          <% end %>
          <div class="item_text">
          <p class="item_name">商品名：<%= item.name %></p>
          <p class="item_name">金額：¥<%= item.price %>(税込)<br>
          <%= link_to "商品詳細" ,item_path(item),class:'btn btn-signup  mt-4' %></p>
          </div>

        </li>
        </ul>

    <% end %>
    </div>
  </div>
</div>

<% elsif @model == "genre" %>
<div class="text-center item-show">
    <h2>ジャンル"<%= @content %>"(全<%= @records_genre.count %>件)</h2>
</div>
<div class="container">

  <div class="row justify-content-center mt-4">
    <div class="col-10 row justify-content-between">

      <div class="fs-2 col-2"></div>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-10">
      <% @records_genre.each do |item| %>
        <ul>
        <hr class="cp_hr01" />
        <li class="item_icon">
          <%= link_to item_path(item) do %>
          <%= attachment_image_tag item, :image,class:'item_visual' %>
          <% end %>
          <div class="item_text">
          <p class="item_name">商品名：<%= item.name %></p>
          <p class="item_name">金額：¥<%= item.price %>(税込)<br>
          <%= link_to "商品詳細" ,item_path(item),class:'btn btn-signup  mt-4' %></p>
          </div>

        </li>
        </ul>

      <% end %>

    </div>
  </div>
</div>