<h1>ショップ一覧</h1>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>ショップ名</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>ショップ情報</th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop|%>
    <tr>
      <td>
        <%= link_to admins_shop_path(shop.id) do %>
          <%= shop.name %>
        <% end %>
        </td>
      <td><%= shop.address %></td>
      <td><%= shop.phonenumber %></td>
      <td><%=shop.description %></td>
    </tr>
    <% end %>
  </tbody>
</table>