<h2>ショップ評価を投稿</h2>
<%= form_with model:@comment,url:'/produst_comments',local:true do |shop| %>
 <div>
   <div class="form-group row">
     <%= shop.label :comment, '口コミ内容 ', class:'col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= shop.text_area :comment, class: "form-control", rows: "8" %>
    </div>
  </div>
 </div>

 <div class="rate_stars" id="star">
   <%= shop.label :'評価' %>
   <%= shop.hidden_field :rate, id: :rate_stars %>
 </div>
 <div class="form-group row justify-content-end">
    <div class="col-md-9">
      <%= shop.submit '投稿する', class:"btn btn-success" %>
    </div>
  </div>
<% end %>
<script>

  $('.rate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'produst_comment[rate]'
  });
</script>
