<div class="container">
  <div class="row">
    <div class="ec-order-new-main">
      <h2><span class="badge bg-secondary text-white mb-3">注文情報入力</span></h2>
      <%= form_with(model: @order,url: "/orders/confirm",local:true ) do |f| %>
        <%= @customer.last_name %><%= @customer.first_name %>
          <%=link_to "カード登録",new_card_path %>
        <div class='input-group date' id='datetimepicker6'>
          <%= f.text_field :month, :placeholder => "予約"%>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      　<%=f.submit '確認画面へ進む',class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>